<table class="table table-striped">
  
  <tbody>
    <tr>
      <th scope="row"><%= product.id%></th>
      <td><%= product.name%></td>
      <td><%= product.price%></td>
      <td><%= product.quantity%></td>
      
      <td><%= show_link(product, action_name)%></td>
    </tr>
  </tbody>
</table>
